@media (min-width: 1200px) {
	/* ---------------------SECCION HEADER--------------------- */
	/* Generic Styles Starts */

	.text-right-lg {
		text-align: right;
	}

	.pull-left-lg {
		float: left;
	}

	.pull-right-lg {
		float: right;
		left: auto;
		right: 0;
	}

}


@media (min-width: 1025px) and (max-width: 1199px) {
	/* ---------------------SECCION HEADER--------------------- */
	/* Generic Styles Starts */

	.text-right-lg {
		text-align: right;
	}

	.pull-left-lg {
		float: left;
	}

	.pull-right-lg {
		float: right;
		left: auto;
		right: 0;
	}

	/* ---------------------SECCION HERO--------------------- */

	.hero {
		position: relative;
		height: 150vh;
	}

	.hero h2 {
		font-size: 3.5em;
	}

	.hero a {
		font-size: 1.2em;
	}

	/* ---------------------SECCION CTA--------------------- */

	.CTA {
		height: 80vh;
		margin-top: -2em;
	}

	.CTA h5,
	h5 a {
		padding: 0;
		font-size: 2vw;
	}
}


@media (min-width: 769px) and (max-width: 1024px) {
	/* ---------------------SECCION HEADER--------------------- */

	.main-header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.logo {
		width: 100%;
	}

	.header-info li.clearfix h6 {
		font-size: 1em;
	}

	.header-info li.clearfix .fa {
		margin-top: 13px;
		margin-right: 10px;
		font-size: 3vw;
	}

	/* Generic Styles Starts */

	.text-right-lg {
		text-align: right;
	}

	.pull-left-lg {
		float: left;
	}

	.pull-left a {
		font-size: .9em;
	}

	.pull-right-lg {
		float: right;
		left: auto;
		right: 0;
	}

	/* ---------------------SECCION HERO--------------------- */

	.hero {
		position: relative;
		height: 130vh;
	}

	.hero h2 {
		font-size: 3em;
	}

	.hero a {
		font-size: 1.2em;
	}


	/* ---------------------SECCION NOSOTROS--------------------- */
	.intro-about-section {
		margin: 3em auto 0 auto;
	}

	.nosotros {
		padding-right: 2em;
	}

	.vision {
		padding-top: .3em;
		padding-left: 2em;
	}

	.mision {
		padding-top: 1.2em;
	}

	.intro-about-section h1 {
		font-size: 4vw;
	}

	.intro-about-section h3 {
		font-size: 3vw;
	}

	.intro-about-section h4 {
		font-size: 2.5vw;
	}

	.intro-about-section p {
		margin-top: 15px;
		margin-bottom: 0;
		color: #222;
	}

	/* ---------------------SECCION CTA--------------------- */

	.CTA {
		height: 50vh;
		margin-top: -1em;
	}

	.CTA h5,
	h5 a {
		padding: 0;
		font-size: 2.5vw;
	}

	/* ---------------------SECCION NOVEDADES--------------------- */


	.grid-item {
		padding: 20px;
		font-size: 0.8em;
	}

	.grid-item h3 {
		font-size: 1.3em;
	}

	.grid-item p {
		font-size: 0.85em;
	}

	.grid-item .btn {
		padding: 8px 18px;
		font-size: 0.8em;
	}


	/* ---------------------SECCION CONTACTO--------------------- */

	.contacto {
		margin-top: 1em;
	}

	.contacto h3 {
		margin-top: 1.5em;
		font-size: 2.5em;
	}

	/* ---------------------SECCION FOOTER--------------------- */
	/* Footer Styles Starts */

	.main-footer {
		padding-top: 40px;
	}

	.footer-links h4 {
		margin-top: 40px;
	}

	.copyright ul {
		margin-top: 15px;
	}

}


@media (min-width: 481px) and (max-width: 768px) {
	/* ---------------------SECCION HEADER--------------------- */

	.main-header {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.logo {
		width: 100%;
	}

	.header-info li.clearfix h6 {
		font-size: 2vw;
	}

	.header-info li.clearfix .fa {
		margin-top: 13px;
		margin-right: 10px;
		font-size: 4vw;
	}

	/* Generic Styles Starts */

	.text-right-lg {
		text-align: right;
	}

	.pull-left-lg {
		float: left;
	}

	.pull-left a {
		font-size: 1.7vw;
	}

	.pull-right-lg {
		float: right;
		left: auto;
		right: 0;
	}


	/* ---------------------SECCION HERO--------------------- */


	.hero {
		position: relative;
		height: 80vh;
	}

	.hero h2 {
		font-size: 2em;
	}

	.hero a {
		font-size: 1.1em;
	}

	.btn {
		padding: 8px 15px;
	}


	/* ---------------------SECCION NOSOTROS--------------------- */

	.intro-about-section {
		margin: 2em auto 0 auto;
	}

	.nosotros {
		padding: 0 2em;
	}

	.vision {
		padding: 1em 2em 0;
	}

	.mision {
		padding-top: 1em;
	}

	.intro-about-section h1 {
		font-size: 5vw;
	}

	.intro-about-section h3 {
		font-size: 3.5vw;
	}

	.intro-about-section h4 {
		font-size: 2.5vw;
	}

	.intro-about-section p {
		font-size: 1.8vw;
	}

	/* ---------------------SECCION CTA--------------------- */

	.CTA {
		height: 60vh;
		margin-top: 0;
	}

	.CTA h5,
	h5 a {
		padding: 0;
		font-size: 2.5vw;
	}

	/* ---------------------SECCION NOVEDADES--------------------- */

	.grid-container {
		width: 90vw;
		gap: 30px;
		grid-template-columns: repeat(2, 1fr);
		aspect-ratio: auto;
	}

	.grid-item {
		padding: 20px;
		font-size: 0.8em;
	}

	.grid-item h3 {
		font-size: 1.3em;
	}

	.grid-item p {
		font-size: 0.85em;
	}

	.grid-item .btn {
		padding: 8px 18px;
		font-size: 0.8em;
	}

	/* ---------------------SECCION CONTACTO--------------------- */

	.contacto {
		margin: .5em 1.5em;
	}

	.contacto h3 {
		margin-top: 2em;
		font-size: 3.5vw;
		margin-bottom: 1em;
	}

	.contacto p {
		margin: 0;
		font-size: 1.8vw;
	}

	.form-control {
		padding: 10px 20px;
	}

	input[type=text].form-control,
	input[type=email].form-control {
		height: 40px;
		font-size: 1.8vw;
	}

	/* ------- FORMULARIO ------- */

	.contact-form {
		margin-top: 10px;
	}

	.contact-form-section {
		margin-top: 20px;
	}

	.contact-form .form-group {
		margin-bottom: 30px;
	}

	.contact-form .btn-secondary {
		padding: 8px 40px;
		font-size: 15px;
	}

	/* ---------------------SECCION FOOTER--------------------- */
	/* Footer Styles Starts */

	.footer {
		padding: 3vw 0;
		font-size: 1.8vw;
	}

	iframe{
		display: none;
	}

	.copyright {
		font-size: 1.8vw;
	}

	.copyright>.container>.clearfix {
		padding-top: 10px;
		padding-bottom: 15px;
	}

}


@media (max-width: 480px) {
	/* ---------------------SECCION HEADER--------------------- */

	.main-header {
		padding-top: 8px;
		padding-bottom: 5px;
	}

	.logo {
		width: 40vw;
	}

	.header-info li.clearfix h6 {
		font-size: 2.5vw;
	}

	.header-info li.clearfix .fa {
		margin-top: 13px;
		margin-right: 5px;
		font-size: 4.5vw;
	}

	.text-right-lg {
		text-align: right;
	}

	.pull-left-lg {
		float: left;
	}

	.pull-left a {
		font-size: 2.5vw;
	}

	.pull-right-lg {
		float: right;
		left: auto;
		right: 0;
	}


	/* ---------------------SECCION HERO--------------------- */

	.hero {
		height: 40vh;
	}

	.hero h2 {
		font-size: 1.5em;
	}

	.hero a {
		font-size: .9em;
	}

	.btn {
		padding: 8px 15px;
	}


	/* ---------------------SECCION NOSOTROS--------------------- */
	.intro-about-section {
		margin: 2em auto 0 auto;
	}

	.nosotros {
		padding: 0 2em;
	}

	.vision {
		padding: 1em 2em 0;
	}

	.mision {
		padding-top: 1em;
	}

	.intro-about-section h1 {
		font-size: 2.2em;
	}

	.intro-about-section h3 {
		font-size: 1.7em;
	}

	.intro-about-section h4 {
		font-size: 1.2em;
	}

	.intro-about-section p {
		font-size: .9em;
	}

	/* ---------------------SECCION CTA--------------------- */


	.CTA {
		margin: 0;
		height: 20vh;
	}

	.CTA h5,
	h5 a {
		padding: 0 20px;
		font-size: 3vw;
	}


	/* ---------------------SECCION NOVEDADES------------------------ */
	#novedades .title{
		font-size: 1.7em;
	}

	.grid-container {
		width: 90%;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	.grid-item {
		padding: 10px;
	}

	.grid-item h3 {
		font-size: .8em;
	}

	.grid-item p {
		font-size: .7em;
	}

	.grid-item a img {
		width: 50px;
	}

	/* ---------------------SECCION CONTACTO--------------------- */


	.contacto {
		margin: .5em 1em;
	}

	.contacto h3 {
		margin-top: 2em;
		font-size: 1.5em;
		margin-bottom: 1em;
	}

	.contacto p {
		margin: 0;
		font-size: .9em;
	}

	.form-control {
		padding: 10px;
	}

	input[type=text].form-control,
	input[type=email].form-control,
	.form-control {
		height: 40px;
		font-size: .9em;
	}

	/* ------- FORMULARIO ------- */

	.contact-form {
		margin-top: 10px;
	}

	.contact-form-section {
		margin-top: 20px;
	}

	.contact-form .form-group {
		margin-bottom: 30px;
	}

	.btn-secondary {
		padding: 5px 15px;
		font-size: .9em;
	}

	/* ---------------------SECCION FOOTER--------------------- */

	.footer {
		padding: 3vw 0;
		font-size: 2vw;
	}

	iframe{
		display: none;
	}

	.copyright {
		font-size: 2vw;
	}

	.copyright>.container>.clearfix {
		padding-top: 10px;
		padding-bottom: 15px;
	}

}